<h1>Show Link record</h1>

<ul>

  <li>
    <strong>Target url:</strong>
    <%= @link_record.target_url %>
  </li>

  <li>
    <strong>Token:</strong>
    <%= @link_record.token %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.link_record_path(@conn, :edit, @link_record) %></span>
<span><%= link "Back", to: Routes.link_record_path(@conn, :index) %></span>
